body {
    background-color: #f7f6f0;
    font-family: 'Open Sans', sans-serif;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

th,
td {
    text-align: center;
    padding: 15px;
}

table tbody th:first-child {
    font-weight: 100;
    width: 30%;
    text-align: left;
    font-size: 0.9em;
}

thead th {
    min-width: 100px;
    text-align: center;
}

tbody td {
    text-align: center;
}

.comparison-table {
    overflow: hidden;
    table-layout: fixed;
}

.comparison-table .comparison-table-key:first-child {
    font-weight: 100;
    text-align: left;
    font-size: 1em;
    line-height: 1.5em;
    height: 50px;
}

.comparison-table td,
.comparison-table th {
}

.comparison-table th:first-child {
    position: relative;
}

.comparison-table th:first-child:after {
    position: absolute;
    content: ' ';
    left: 0;
    right: -100vw;
    bottom: 0;
    border-bottom: 1px solid #d7cfc3;
}

.comparison-table .comparison-table-key,
.comparison-table .comparison-table-value {
    border-left: 10px solid #f7f6f0;
}

.comparison-table-key {
    font-size: 1em;
}

.comparison-table-value {
    font-size: 0.9em;
    color: #4c4c4b;
}

.bg-yellow {
    background-color: #ffd35f;
}

.bg-yellow-opaque {
    background-color: rgba(255, 211, 95, 0.3);
}

.bg-dark-yellow {
    background-color: #ffc82c;
}

.bg-dark-yellow-opaque {
    background-color: rgba(255, 200, 44, 0.3);
}

.bg-washed-orange {
    background-color: #e79d54;
}

.bg-washed-orange-opaque {
    background-color: rgba(231, 157, 84, 0.3);
}

.bg-washed-purple {
    background-color: #c675b8;
}

.bg-washed-purple-opaque {
    background-color: rgba(198, 117, 184, 0.3);
}

.bg-purple {
    background-color: #a63597;
}

.bg-purple-opaque {
    background-color: rgba(166, 53, 151, 0.3);
}

@media only screen and (max-width: 800px) {
    table tbody th:first-child {
        width: none;
    }

    .comparison-table .comparison-table-key,
    .comparison-table .comparison-table-value {
        border-left: none;
    }
}

/* Carousel */

/* :root {
  --color-default-state: grey;
  --color-hover-state: rgb(107, 107, 195);
  --color-selected-state: rgb(17, 26, 101);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.carousel {
  display: grid;
  grid-template-columns: 3em 1fr 3em;
  grid-template-rows: 70vh 3em;
  align-items: center;
  grid-gap: 1em;
  width: 80vw;
}

.carousel-track-container {
  grid-column: 2;
  align-self: stretch;
}

.carousel-track {
  position: relative;
  width: 100%;
  height: 100%;
}

.carousel-slide {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.carousel-slide > a {
  display: block;
  width: inherit;
  height: inherit;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

/* Buttons */

/* .carousel-button svg {
  fill: var(--color-default-state);
}

.carousel-button:hover svg {
  fill: var(--color-hover-state);
} */

/* Dots */
/*
.carousel-nav {
  grid-column: 1 / -1;
  justify-self: center;
}

.carousel-dot {
  width: 1em;
  height: 1em;
  border-radius: 100%;
  background-color: var(--color-default-state);
}

.carousel-dot + .carousel-dot {
  margin-left: 1em;
}

.carousel-dot:hover {
  background-color: var(--color-hover-state);
}

.carousel-dot.is-selected {
  background-color: var(--color-selected-state);
} */
